.container{
    display: flex;
    /* justify-content: space-around; */
    /* border: 1px solid black; */
    flex-direction: column;
    /* flex-wrap: nowrap; */
    /* padding-top:2rem; */
    text-align: center;
    color:whitesmoke;
}

.incontainer1{
    /* flex:30%; */
    width:50%;
    
    margin: 5%;
    margin-left: 5%;
    margin-bottom: 4%;
    /* margin:0 auto; */
    /* height:  20%; */
    /* border: 1px solid red; */
    font-family: "Work Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif ;
    font-size: 2rem;
    font-weight: 100;
    /* color:whitesmoke; */
    
}

.incontainer2{
    margin-left:5%; 
    width: 75%;
    color:rgb(0,87,123);
    /* height:80%; */
    /* border:1px solid blue; */
    font-size:1rem ;
    height: 70vh;
}
.header > h1{
    margin-top:0;
    margin-bottom: 0;
    font-size: 3rem; 
}
.content-container{
    display:flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    
}

.content-inner1{
    display: flex;
    flex-wrap: nowrap;
    font-size:1.5rem;
  
}
.studiesnames{
    width: 100%;
}
.studiesnames > h4{
    margin:0px 0px;
    padding:20px 10px;
    
}

.content-inner2{
    flex-basis: 75%;
    text-align: left;
    margin:5%;
    
}
.studiesdesc{
    display:none;

}
.active{
    
    display:block;
}
.active-tab{
    /* background-color: rgb(0,87,126); */
    color:whitesmoke;
    background-color: rgba(0, 87, 126,0.8);
    /* border-bottom: 1px solid rgb(44, 56, 61); */

}

@media screen and (max-width: 600px){

.incontainer1{
    margin-top: 20%;
    width: auto;
}
.incontainer2{
    width: 90%;
    height: 50vh;
}
.header >h1{
    font-size:2.5rem; 
}
.content-inner{
    font-size: 1rem;
}
}